.places {
    padding-top: 92px;
    display: grid;
    row-gap: 80px;
    justify-content: center;
}

@media (max-width: 768px) {
    .places {
        padding-top: 88px;
        row-gap: 73px;
    }
}

@media (max-width: 400px) {
    .places {
        padding: 64px 0 0;
        row-gap: 50px;
    }
}