.header__logo {
    background-image: url(../../../images/header-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 176px;
    transition: opacity 0.5s ease-in-out;
}

.header__logo:hover {
    opacity: 0.5;
}

@media (max-width: 450px) {
    .header__logo {
        width: 142px;
    }
}