.alignment_size-s {
    padding-left: 48px;
    padding-right: 48px;
}

@media (max-width: 768px) {
    .alignment_size-s {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 425px) {
    .alignment_size-s {
        padding-left: 16px;
        padding-right: 16px;
    }
}